section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
}

#image-1 {
  padding: 20px 20px 20px;
  margin: 15px 15px 15px;
  border: 8px solid darkblue ;
  
  padding
}